@page "/tools"
@using System.IO.Compression
@using Matrix.Prox3.IntelliZone.Data.Enums
@using System.Threading.Tasks
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager MyNavigationManager
@inject NavigationManager uriHelper
@inject HubConnection hubConnection 
@inject IConfiguration configuration
@using Newtonsoft.Json


@inject HttpClient http

<PageTitle>Tools</PageTitle>

<body>


	@if (ControllerReports != null && appConfiguration != AppConfiguration.CloudReporting)
	{
		<div class="d-flex mb-1">
			<h6 class="col-3">Controller:</h6>
			<div class="col-7">
				<InputSelect class="form-select"
				TValue="string"
				Value="@controllerIP"
				ValueChanged="SelectController"
				ValueExpression="@(() => controllerIP)">
					<option value="">Select Controller...</option>
					@foreach (var controller in ControllerReports)
					{
						<option value=@controller.IP>@controller.IP  @controller.MachineName Connected:@controller.ConnectionInfo  </option>
					}
				</InputSelect>
			</div>
			<div class="col-2">
				<button  @onclick="Start">@status</button>
			</div>
		</div>
		<div class="d-flex mb-5">
			<h6 class="col-3">MNID(Optional):</h6>
			<div class="col-7">
				<InputSelect class="form-select"
				TValue="uint?"
				Value="@MNID"
				ValueChanged="SelectMNID"
				ValueExpression="@(() => MNID)">
					<option value="">Select MNID...</option>
					@foreach (var locator in ControllerReports.Where(s=>s.IP == controllerIP).SelectMany(s=>s.ActiveLocators).ToList())
					{
						<option value=@locator.decMNID >@(((uint)locator.decMNID).ToString("X") )  </option>
					}
				</InputSelect>
			</div>

		</div>

	}

	<AuthorizeView>
		<Authorized>
			@* <div >class="tab-selector"> *@
			<div>
				<Tabs Class="tab-selector">
					@if ( appConfiguration != AppConfiguration.CloudReporting)
					{
						<Tab Title="Antenna Plot" Class="fw-bolder tab-selector">
							<Content>
							<AntennaPlot ControllerReport="ControllerReports.Where(s=> s.IP == controllerIP).FirstOrDefault()" />
						</Content>
					</Tab>

					}
					<Tab Title="Compensation" Class="fw-bolder tab-selector" Active="true">
						<Content>
							<CompViewer MNID="MNID" ControllerReport="ControllerReports.Where(s=> s.IP == controllerIP).FirstOrDefault()" />
						</Content>
					</Tab>
					<Tab Title="RF Calculator" Class="fw-bolder tab-selector" Active="true">
						<Content>
							<RFcalculator/>
						</Content>
					</Tab>
				</Tabs>
			</div>
		</Authorized>
		<NotAuthorized>
			Please login to view this page
		</NotAuthorized>
	</AuthorizeView>

</body>



@code {

	private List<BlazorControllerReport> ControllerReports = new();
	private AppConfiguration appConfiguration;

	private string status = "Start";
	private uint? MNID = null;
	private string controllerIP = "";

	protected override async Task OnInitializedAsync()
	{
		appConfiguration = Enum.Parse<AppConfiguration>(configuration["AppConfiguration"], true);
		hubConnection.On<string>("intellizonecontrollerlistener", async (strdata) =>
		{
			BlazorControllerReport cdata = JsonConvert.DeserializeObject<BlazorControllerReport>(strdata);
			var temp = ControllerReports.FirstOrDefault(s => s.IP == cdata.IP);
			if (temp != null && cdata != null)
			{

				ControllerReports.Remove(temp);
				ControllerReports.Add(cdata);
				await InvokeAsync(StateHasChanged);
			}
			else
			{
				ControllerReports.Add(cdata);
				await InvokeAsync(StateHasChanged);
			}
		});


	}





	private async void SelectController(string e)
	{
		if (e != null && e != string.Empty)
		{

			controllerIP = e;

			var result = await http.GetAsync($"api/MatrixDevices/startdiagnostics/{controllerIP}");
			if (result.IsSuccessStatusCode)
			{
				status = result.Content.ReadAsStringAsync().Result;
			}

        }
	}

	private async void SelectMNID(uint? e)
	{
		if (e != null )
		{

			MNID = e;

		
		}
	}

	private async void Start()
	{

		var result = await http.GetAsync($"api/MatrixDevices/startdiagnostics/{controllerIP}");
		if (result.IsSuccessStatusCode)
		{
			status = result.Content.ReadAsStringAsync().Result;
		}

	}

	private async void Stop()
	{

		var result = await http.GetAsync($"api/MatrixDevices/stopdiagnostics/{controllerIP}");
		if (result.IsSuccessStatusCode)
		{
			status = result.Content.ReadAsStringAsync().Result;
		}

	}
}
 